apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow-ci # {"type":"string","x-kustomize":{"setter":{"name":"gcloud.core.project","value":"kubeflow-ci"}}}
resources:
- ../../upstream/management/cluster
patchesStrategicMerge:
- cluster.yaml
- nodepool.yaml
