apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- cluster-scoped-resources
- ../upstream/env/dev
# Kubeflow Pipelines servers are capable of collecting Prometheus metrics.
# If you want to monitor your Kubeflow Pipelines servers with those metrics, you'll need a Prometheus server in your Kubeflow Pipelines cluster.
# If you don't already have a Prometheus server up, you can use the following configuration files for Prometheus.
# If you have your own Prometheus server up already or you don't want a Prometheus server for monitoring, you can comment the following line out.
# - ../third-party/prometheus
# - ../third-party/grafana
# Identifier for application manager to apply ownerReference.
# The ownerReference ensures the resources get garbage collected
# when application is deleted.
commonLabels:
  application-crd-id: kubeflow-pipelines
# Used by Kustomize
configMapGenerator:
- name: pipeline-install-config
  env: params.env
  behavior: merge
secretGenerator:
- name: mysql-secret
  env: params-db-secret.env
  behavior: merge
# !!! If you want to customize the namespace,
# please also update sample/cluster-scoped-resources/kustomization.yaml's namespace field to the same value
namespace: kubeflow
patchesStrategicMerge:
- proxy-agent-patch.yaml

#### Customization ###
# 1. Change values in params.env file
# 2. Change values in params-db-secret.env file for CloudSQL username and password
# 3. kubectl apply -k ./
####

images:
- name: gcr.io/ml-pipeline/frontend
  # https://github.com/kubeflow/pipelines/pull/5618
  newName: gcr.io/ml-pipeline-test/4b87b3cc0cca03b807af29188cf2c8f3593c8153/frontend
  newTag: latest
