# Run a test that verifies a lot of applications
# were correctly deployed.
apiVersion: tekton.dev/v1alpha1
kind: Task
metadata:
  name: kf-ready
  annotations:
    sidecar.istio.io/inject: "false"
spec:
  inputs:
    params:
    - name: testing-cluster-pattern
      type: string
      description: Cluster pattern to select the KF cluster to run on Default to be
        from master branch.
    - name: testing-cluster-location
      type: string
      description: Location to search for test clusters e.g. us-central1 or us-central1-f
    #**********************************************************
    # Kubeflow test parameters
    #**********************************************************
    - name: test-name
      type: string
      default: kf-ready
      description: Name to give the test results file.
    - name: artifacts-gcs
      type: string
      description: GCS bucket and directory artifacts will be uploaded to. Should
        be in the form of 'gs://'
    - name: test-image
      type: string
<<<<<<< HEAD
      default: gcr.io/kubeflow-ci/test-worker-py3:59b3b5d-dirty@sha256:58701d52b9fba37e7082c8e530b05fd533fb9a5ada5055c5f1443c0c4b9c8c43 # {"type":"string","x-kustomize":{"setBy":"kpt","partialSetters":[{"name":"test-image","value":"gcr.io/kubeflow-ci/test-worker-py3:59b3b5d-dirty@sha256:58701d52b9fba37e7082c8e530b05fd533fb9a5ada5055c5f1443c0c4b9c8c43"}]}}
=======
      default: gcr.io/kubeflow-ci/test-worker-py3:4a56d44-dirty@sha256:cf45693453e331e89d0540ed8c2436528eec4db63f9ce4967591bb023b166417 # {"type":"string","x-kustomize":{"setBy":"kpt","partialSetters":[{"name":"test-image","value":"gcr.io/kubeflow-ci/test-worker-py3:4a56d44-dirty@sha256:cf45693453e331e89d0540ed8c2436528eec4db63f9ce4967591bb023b166417"}]}}
>>>>>>> 11a620e... Setup a kf-ci-dev namespace for manual sync'ing of Tekton pipelines.
      description: The docker image to run the tests in. Should contain a version
        of kubeflow/testing/py in /srcCache that we want to use.
    resources:
    - name: kfctl-repo
      type: git
  steps:
  - name: get-credential
    image: $(inputs.params.test-image)
    command:
    - python
    args:
    - -m
    - kubeflow.testing.get_kf_testing_cluster
    - get-credentials
    - --pattern=$(inputs.params.testing-cluster-pattern)
    - --location=$(inputs.params.testing-cluster-location)
    - --output=/workspace/cluster.info.yaml
    env:
    - name: PYTHONPATH
      value: /workspace/$(inputs.resources.kfctl-repo.name)/py:/srcCache/kubeflow/testing/py
  - name: kf-ready
    image: $(inputs.params.test-image)
    # Need to use script as workaround not to error out in tests.
    # If any of the steps returns non-zero codes, subsequent steps will not be run.
    #
    # N.B: beware trailing whitespace after "\" it will mess up pytest
    #
    # N.B: Timeout is based on assumption that we are running against auto-deployments
    # and things should already be ready
    script: |
      #!/usr/bin/env bash
      set -x
      # Get the name of the cluster
      export KFNAME=$(yq r /workspace/cluster.info.yaml cluster.name)
      # I think -s mean stdout/stderr will print out to aid in debugging.
      # Failures still appear to be captured and stored in the junit file.
      # Test suite name needs to be unique based on parameters
      pytest kf_is_ready_test.py \
        -s \
        --log-cli-level=info \
        --log-cli-format='%(levelname)s|%(asctime)s|%(pathname)s|%(lineno)d| %(message)s' \
        --junitxml=/workspace/artifacts/junit_kf-ready.xml \
        --app_name=${KFNAME} \
        --timeout=180 \
        -o junit_suite_name=test_kf_ready_blueprint
      echo test finished.
    workingDir: /workspace/$(inputs.resources.kfctl-repo.name)/py/kubeflow/kfctl/testing/pytests
    env:
    - name: PYTHONPATH
      value: /workspace/$(inputs.resources.kfctl-repo.name)/py:/srcCache/kubeflow/testing/py
  # This step is designed to be generic: given the output directory, it will try to
  # parse all the XML files with prefix of junit and error out if failures been found.
  - name: copy-artifacts
    image: $(inputs.params.test-image)
    command:
    - python
    args:
    - -m
    - kubeflow.testing.tekton_client
    - junit-parse-and-upload
    - --artifacts_dir=/workspace/artifacts
    - --output_gcs=$(inputs.params.artifacts-gcs)
    env:
    - name: PYTHONPATH
      value: /workspace/$(inputs.resources.kfctl-repo.name)/py:/srcCache/kubeflow/testing/py
