apiVersion: tekton.dev/v1alpha1
kind: Task
metadata:
  name: py-test
spec:
  inputs:
    params:
    - name: artifacts-gcs
      type: string
      description: GCS bucket and directory artifacts will be uploaded to. Should
        be in the form of 'gs://'
    - name: test-image
      type: string
      default: gcr.io/kubeflow-ci/test-worker-py3@sha256:a749d7fa4d77466c892a206d3adf0909e86717da898dbd12378e6cbed59ffbd3 # {"type":"string","x-kustomize":{"setBy":"kpt","partialSetters":[{"name":"test-image","value":"gcr.io/kubeflow-ci/test-worker-py3@sha256:a749d7fa4d77466c892a206d3adf0909e86717da898dbd12378e6cbed59ffbd3"}]}}      description: The docker image to run the tests in
    - name: test-name
      type: string
      default: py-unit
      description: Name to give the test results file.
    resources:
    - name: testing-repo
      type: git
      description: The GitHub repo containing code to test
  steps:
  - name: unit-test
    image: $(inputs.params.test-image)
    command:
    - python
    args:
    - -m
    - kubeflow.testing.test_py_checks
    - --artifacts_dir=/workspace/artifacts/junit_$(inputs.params.test-name)
    - --src_dir=/workspace/$(inputs.resources.testing-repo.name)/py/kubeflow/tests
    env:
    - name: PYTHONPATH
      value: /srcCache/kubeflow/testing/py
  # This step is designed to be generic: given the output directory, it will try to
  # parse all the XML files with prefix of junit and error out if failures been found.
  - name: copy-artifacts
    image: $(inputs.params.test-image)
    command:
    - python
    args:
    - -m
    - kubeflow.testing.tekton_client
    - junit-parse-and-upload
    - --artifacts-dir=/workspace/artifacts
    - --output-gcs=$(inputs.params.artifacts-gcs)
    env:
    - name: PYTHONPATH # N.B. This uses the version cached in the docker image.
      value: /srcCache/kubeflow/testing/py
