apiVersion: tekton.dev/v1alpha1
kind: Task
metadata:
  name: py-test
spec:
  inputs:
    params:
    - name: test-name
      type: string
      default: py-unit
      description: Name to give the test results file.
    - name: artifacts-gcs
      type: string
      description: GCS bucket and directory artifacts will be uploaded to. Should
        be in the form of 'gs://'
    - name: test-image
      type: string
      default: gcr.io/kubeflow-ci/test-worker-py3:b23b63b-dirty@sha256:a749d7fa4d77466c892a206d3adf0909e86717da898dbd12378e6cbed59ffbd3
      description: The docker image to run the tests in
    resources:
    - name: source-repo
      type: git
      description: The GitHub repo containing code to test
  steps:
  - name: unit-test
    image: $(inputs.params.test-image)
    script: |
      #!/usr/bin/env bash
      set -x
      mkdir -p /workspace/artifacts
      echo Current Directory: $(pwd)
      python -m kubeflow.testing.test_py_checks \
       --artifacts_dir=/workspace/artifacts/junit_$(inputs.params.test-name).xml \
       --src_dir=./kubeflow/tests
      echo Test results:
      cat /workspace/artifacts/junit_$(inputs.params.test-name).xml
      echo Test finished.
    env:
    - name: PYTHONPATH
      value: /workspace/$(inputs.resources.source-repo.name)/py
  # This step is designed to be generic: given the output directory, it will try to
  # parse all the XML files with prefix of junit and error out if failures been found.
  - name: copy-artifacts
    image: $(inputs.params.test-image)
    command:
    - python
    args:
    - -m
    - kubeflow.testing.tekton_client
    - junit-parse-and-upload
    - --artifacts-dir=/workspace/artifacts
    - --output-gcs=$(inputs.params.artifacts-gcs)
    env:
    - name: PYTHONPATH
      value: /workspace/$(inputs.resources.source-repo.name)/py
