[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
filelock = "==3.0.10"
google-api-core = "==0.1.4"
google-api-python-client = "==1.6.5"
google-auth = "==1.4.0"
google-cloud-core = "==0.28.0"
google-cloud-storage = "==1.7.0"
kubernetes = "==8.0.1"
"oauth2client" = "==4.1.2"
retrying = "==1.3.3"
PyYAML = "==3.13"

[dev-packages]
