apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cleanup
bases:
- ../../go/cmd/cleanup/manifests
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
- name: cleanup-resources-config
  files:
  - ./cleanup-resources-config.yaml
